.signIn {
  margin: 5px;
  border-radius: 50%;
  // background-color: #9AADBF;
  // background-color: #477890;
  background-color: #3E7CB1;
};

.signOut {
  margin: 10px;
  border-radius: 50%;
  background-color: #477890;
}
