.home-container {
  // display: inline-block;
  // justify-content: space-evenly;
  // height: 10em;
  margin-top: 5em;
  color: #494949;
  font-weight: bold;
  font-family:'Times New Roman', Times, serif;
  // .h2 {
  //   display: flex;
  //   margin-top: 5em;
  //   text-align: center;
  // }

  // .h3 {
  //   margin-top: 1em;
  //   display: flex;
  //   text-align: center;
  // }
}

 .home-pic {
   align-items: center;
   height: auto;
   width: 60em;
   padding-top: 10em;
   margin-top: 2em;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: -1;
  
}
 
.homeTitle {
  display: block;
  position: fixed;
  top: 40%;
  left: 50%;
  width: 350px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  // color: #01BAEF;
  // color: #FFFBFF;
  // color: #FAFAFA;
  color: #CCDAD1;
  font-family: 'Archivo Black', sans-serif;
  // font-family: 'Fjalla One', sans-serif;
  // font-family: 'Yeseva One', cursive;
}

.about-container {
  display: inline-block;
  // height: 10em;
  margin-top: 5em;
  margin-bottom: 10em;
  color: #4cad75;
  font-weight: bold;
  font-family:'Times New Roman', Times, serif;
}

.aboutTitle {
  display: inline;
  position: fixed;
  width: 20em;
  top: 15%;
  left: 3%;
  height: auto;
  // text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  // color: #FFFBFF;
  // color: #A4C2A8;
  color: #50A2A7;
  // font-family: 'Archivo Black', sans-serif;
  // font-family: 'Fjalla One', sans-serif;
  font-family: 'Yeseva One', cursive;
  font-size:medium;
}

.about-pic {
  align-items: center;
  background-size: cover;
  height: auto;
  width: 50%;
  padding-top: 10em;
  margin-top: 5em;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  z-index: -1;
 
}

.tech-container {
  display: flex;
  position: fixed;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  padding: 5em;
  margin-top: 10vh;
  height:30vh;
  width: 100%;
  top: 10%;
  // left: 12%;
}

.techTitle {
  display: flex;
  position: fixed;
  top: 10%;
  left: 35%;
  justify-content: center;  
  align-items: center;
  text-align: center;
  width: 350px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  // color: #01BAEF;
  // color: #FFFBFF;
  // color: #FAFAFA;
  color: #CCDAD1;
  // font-family: 'Archivo Black', sans-serif;
  font-family: 'Yeseva One', cursive;
  font-size: 3em;

}

.contactTitle {
  display: flex;
  position: fixed;
  top: 10%;
  // left: 35%;
  justify-content: center;  
  align-items: center;
  text-align: center;
  // width: 350px;
  width:100%;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  // color: #01BAEF;
  // color: #FFFBFF;
  // color: #FAFAFA;
  color: #CCDAD1;
  // font-family: 'Archivo Black', sans-serif;
  font-family: 'Yeseva One', cursive;
  font-size: 3em;
}

.contact-container {
  display: block;
  position: fixed;
  flex-wrap:wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 2em;
  padding: 5em;
  margin-top: 10vh;
  height:30vh;
  // width:65em;
  width: 100%;
  // top: 10%;
  // left: 12%;
}
