.navbar-brand {
  display: flex;
  align-items: center;
  background-size: cover;
  justify-content: center;
  height: auto;
  // width: 100px;
  // width: 3em; 
  margin-right: 1em;
  // margin-top: 1em;
  color: #507DBC;
  font-size: 30px;
};

.navBar {
  // display:inline;
  // align-items:center;
  // align-content:center;
  width: auto! important;
  height: auto;
  justify-content:space-between;
  font-size: 25px;
  padding: 1 1em;
  font-family: 'Yeseva One', cursive;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
};

.navbar-collapse {
  // display: flex;
  // width:100%;
  justify-content: space-around;
  // background-color: #FCF6B1;
  padding: 2px;

}
li {
  list-style: none;
  color: orange;
  font-size: 25px;
}

.nav-link {
  color:#DA5552;
}
