.navbar-brand {
  display: flex;
  align-items: center;
  background-size: cover;
  height: auto;
  width: 100px;
  width: 3em; 
  margin-bottom: 1em; 
  margin-right: 3em;
  margin-top: 1em;
  // justify-content: space-around
};

.navBar {
  display:inline-block;
  align-items: center;
  width: 100%;
  height: auto;
  justify-content: space-around;
};

// .mr-auto {
//   list-style: none;
//   background-color: green;
// }

li {
  list-style: none;
}
