@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';
@import 'forms';
@import 'buttons';
@import 'containers';
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Fjalla+One&family=Yeseva+One&display=swap');

body {
  background-color: $favColor;
  justify-content: space-around;
  background-image:url(https://img.freepik.com/free-vector/stylish-hexagonal-line-pattern-background_1017-19742.jpg?size=626&ext=jpg);
}
